@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --black-bgc: #1B1B1B;
    --primary-font: "Bricolage Grotesque", sans-serif;
    --white-color: #fff;
    --primary-color: #dc3545;
    --primary-font-color: rgb(20, 20, 20);
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 1.3;
    background-color: var(--black-bgc);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.grid-container {
    --width: 100px;
    --height: 100px;
    --l-purple: #dc3545;
    --d-purple: #696071;
    --v-purple: #ff8a95;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
}

.shape {
    width: var(--width);
    height: var(--height);
    clip-path: circle(100% at 0 0);
}

.shape:nth-child(1),
.shape:nth-child(3n + 4) {
    background-color: var(--v-purple);
}

.shape:nth-child(2),
.shape:nth-child(3n + 2) {
    transform: rotate(45deg);
    background-color: var(--l-purple);
}

.shape:nth-child(3n + 3) {
    transform: rotate(120deg);
    background-color: var(--d-purple);
}


.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--black-bgc);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    color: #fff;
    border: 1px solid #ffffff1f;
}

.modal-content .modal-header {
    border-color: #ffffff1f;
}

.modal-content label {
    color: #a1a1a1;
    font-size: 10px;
    background: #303030;
    padding: 4px 12px;
    border-radius: 50px;
    margin-bottom: 5px;
    text-transform: uppercase;
    line-height: 1;
    transition: 0.5s;
}

.modal-content .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff1a;
    border-radius: 0;
    color: #fff;
    resize: none;
}


.modal-content .form-control::placeholder {
    color: #555;
}

.modal-content .form-control:focus {
    box-shadow: none;
    border-color: #fff;
}

.modal-content .mb-3:has(.form-control:focus) label {
    background-color: #aeaeae;
    color: var(--black-bgc);
}




.heading-section {
    text-align: center;
    margin: 0 auto;
}

.heading-section h3 {
    font-family: inherit;
    font-size: clamp(2.3125rem, 1.8843rem + 2.284vw, 4.625rem);
    color: var(--primary-font-color);
    font-weight: 800;
    line-height: 1.3;
    padding-bottom: 8px;
}

.heading-section p {
    font-family: inherit;
    font-size: 16px;
    color: var(--primary-font-color);
    font-weight: 500;
    line-height: 1.3;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

/* Top Announcement Section Start */
.top-announcement-section {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
}

.top-announcement-section marquee span {
    font-family: inherit;
    font-size: 13px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 90px;
}

.top-announcement-section marquee span i {
    font-size: 18px;
    padding: 0 5px;
    color: #ffea00;
}

/* Top Announcement Section End */


/* Header Start */
header {
    background-color: var(--black-bgc);
    padding: 15px 0;
    margin: 0;
    position: relative;
}

.sticky {
    background-color: var(--black-bgc) !important;
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    transition: 0.3s ease;
}

header .logo-nav-block {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .logo-nav-block .logo-block {
    max-width: 220px;
}

header .logo-nav-block .nav-block ul li a {
    font-family: inherit;
    font-size: 16px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    padding: 0 10px;
}


header .right-login-btn-block {
    display: flex;
    align-items: center;
    gap: 25px;
}

header .right-login-btn-block ul {
    display: flex;
    align-items: center;
    gap: 18px;
}

header .right-login-btn-block ul li:nth-child(1) a {
    font-family: inherit;
    font-size: 16px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

header .right-login-btn-block ul li:nth-child(2) a i {
    font-size: 19px;
    color: var(--white-color);
}

header .right-login-btn-block .instructor-btn {
    font-family: inherit;
    font-size: 16px;
    color: var(--white-color);
    font-weight: 500;
    line-height: 1.3;
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 8px 20px;
}

/* Header End */

/* Banner Section Start */
.banner-section {
    background-color: var(--black-bgc);
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
}

.banner-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/assets/images/banner-bgc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner-section .left-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 9;
}

.banner-section .left-content h1 {
    font-family: inherit;
    font-size: clamp(2.8125rem, 2.5rem + 1.6667vw, 4.5rem);
    color: var(--white-color);
    font-weight: 800;
    line-height: 1.1;
    padding-bottom: 18px;
    margin: 0;
}

.banner-section .left-content h1 span {
    color: var(--primary-color);
    font-style: italic;
    font-weight: 800;
    display: block;
}

.banner-section .left-content p {
    font-family: inherit;
    font-size: 16px;
    color: var(--white-color);
    font-weight: 300;
    line-height: 1.3;
    padding-bottom: 18px;
    margin: 0;
}

.banner-section .left-content .all-pro-btn {
    font-family: inherit;
    font-size: 15px;
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
    background-color: transparent;
    background-image: linear-gradient(141deg, #ef0d33 0%, #6a0315 100%);
    border-radius: 8px;
    padding: 8px 25px;
    margin: 0;
    width: max-content;
    transition: 0.3s ease;
}

.banner-section .left-content .all-pro-btn:hover {
    background-color: transparent;
    background-image: linear-gradient(314deg, #491EB8 0%, #8B5EFF 100%);
}

.banner-section .left-content .all-pro-btn svg {
    width: 23px;
    height: 19px;
    padding-left: 5px;
}

.banner-section .right-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 9;
}

.banner-section .right-img-block img {
    width: 88%;
    height: 100%;
    object-fit: cover;
}

/* Banner Section End */

/* School Course Section Start */
.school-course-section {
    background: #fff;
    padding: 60px 0;
    margin: 0;
}

.school-course-section .img-block {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}

.school-course-section .text-block {
    padding: 0;
    margin: 0;
}

.school-course-section .text-block h2 {
    font-family: inherit;
    font-size: 30px;
    color: var(--black-bgc);
    line-height: 1.3;
    font-weight: 700;
    background-color: #fff;
    padding: 0;
    margin: 0 0 20px 0;
}

.school-course-section .text-block p {
    font-family: inherit;
    font-size: 16px;
    color: var(--black-bgc);
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
    margin: 0 0 20px 0;
}


/* School Course Section End */


/* All Programs Section Start */
.all-programs-section {
    background-color: var(--white-color);
    background-image: url('../images/Group-158-3.svg');
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: contain;
    padding: 50px 0 100px 0;
    position: relative;
}

.all-programs-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/images/all-programs-section-top-bgc-img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35%;
}

.all-programs-section .top-counter-section {
    padding-bottom: 60px;
    position: relative;
    z-index: 999;
}

.all-programs-section .top-counter-section .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-programs-section .top-counter-section .content-wrapper i {
    font-size: 80px;
    color: var(--primary-color);
}

.all-programs-section .top-counter-section .content-wrapper span {
    font-family: inherit;
    font-size: clamp(2.1875rem, 1.7593rem + 2.284vw, 4.5rem);
    font-weight: 800;
    color: var(--primary-font-color);
    padding-bottom: 12px;
}

.all-programs-section .top-counter-section .content-wrapper h6 {
    font-family: inherit;
    font-size: 30px;
    color: var(--primary-font-color);
    font-weight: 700;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

.all-programs-section .top-counter-section .content-wrapper i.bi.bi-calendar2-week {
    font-size: 62px;
    padding-bottom: 22px;
}

.all-programs-section .bottom-content-section {
    position: relative;
    z-index: 999;
}

.all-programs-section .bottom-content-section .heading-section {
    padding-bottom: 50px;
}

.all-programs-section .bottom-content-section .heading-section p {
    width: 50%;
    margin-bottom: 15px;
}

.all-programs-section .bottom-content-section .card-section .row {
    --bs-gutter-x: 0rem;
}

.all-programs-section .bottom-content-section .card-section .card {
    background-color: var(--black-bgc);
    border: inherit;
    padding: 35px 30px 25px;
    /* width: calc(100% - 30px); */
    margin: 0 10px;
    transition: 0.3s ease;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.all-programs-section .bottom-content-section .card-section .card:hover {
    background-color: var(--primary-color);
}

.all-programs-section .bottom-content-section .card-section .card:hover .badge {
    background-color: var(--white-color) !important;
    color: var(--black-bgc);
}

.all-programs-section .bottom-content-section .card-section .card .img-block {
    max-width: 270px;
    margin: 0 auto 20px;
}

.all-programs-section .bottom-content-section .card-section .col-lg-3:nth-child(2) .card .img-block img,
.all-programs-section .bottom-content-section .card-section .col-lg-3:nth-child(3) .card .img-block img,
.all-programs-section .bottom-content-section .card-section .col-lg-3:nth-child(4) .card .img-block img {
    max-height: 153px;
}

.all-programs-section .bottom-content-section .card-section .card .content h3 {
    font-family: inherit;
    font-size: 20px;
    color: var(--white-color);
    font-weight: 800;
    line-height: 1.3;
    text-transform: capitalize;
    padding: 0;
    margin: 0 0 10px 0;
}

.all-programs-section .bottom-content-section .card-section .card .content h4,
.all-programs-section .bottom-content-section .card-section .card .content h5 {
    font-family: inherit;
    font-size: 16px;
    color: var(--white-color);
    font-weight: 500;
    line-height: 1.3;
    text-transform: capitalize;
    font-weight: 400;
    padding: 0;
    margin: 0 0 10px 0;
}

.all-programs-section .bottom-content-section .card-section .card .content h4>span {
    font-size: 20px;
    font-weight: 800;
}

.all-programs-section .bottom-content-section .card-section .card .content>span {
    display: inline-block;
    font-family: inherit;
    font-size: 13px;
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.3;
    background-image: url('../images/dbl-arrw.svg');
    background-repeat: no-repeat;
    background-position: right 50%;
    padding: 0 20px 0 0;
    margin: 0;
}

/* All Programs Section End */

/* Why HexStar Section Start */
.why-hexStar-section {
    background-color: transparent;
    padding-top: 50px;
}

.why-hexStar-section .left-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.why-hexStar-section .left-block h3 {
    font-family: inherit;
    font-size: clamp(2.3125rem, 1.8843rem + 2.284vw, 4.625rem);
    color: var(--white-color);
    font-weight: 800;
    line-height: 1.3;
    padding-bottom: 8px;
}

.why-hexStar-section .left-block h3 {
    padding: 0;
}

.why-hexStar-section .left-block span {
    font-family: inherit;
    font-size: 15px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

.why-hexStar-section .left-block img {
    width: 20%;
}

.why-hexStar-section .right-block {
    display: flex;
    justify-content: flex-end;
    padding-top: 85px;
}

.why-hexStar-section .right-block img {
    width: 83%;
}

/* Why HexStar Section End */


/* Learn from industry Section Start */
.learn-from-industry-section {
    background-color: transparent;
    padding-bottom: 60px;
}

.learn-from-industry-section .heading-section {
    text-align: left;
}

.learn-from-industry-section .heading-section h3 {
    color: var(--white-color);
}

.learn-from-industry-section .heading-section p {
    margin: 0;
    text-align: left;
    color: var(--white-color);
}

.learn-from-industry-section .bottom-content {
    padding-top: 50px;
    background-color: transparent;
    text-align: center;
}

.learn-from-industry-section .bottom-content .slider {
    margin-bottom: 65px;
}

.learn-from-industry-section .bottom-content .content-wrapper {
    border: 1px solid var(--white-color);
    border-radius: 8px;
    padding: 50px 0 20px 0;
    margin: 0 10px;
}

.learn-from-industry-section .bottom-content .content-wrapper .img-block {
    --w-h: 130px;
    width: var(--w-h);
    height: var(--w-h);
    border-radius: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--primary-color);
    /* padding: 5px; */
    overflow: hidden;
    margin: 0 auto;
}

.learn-from-industry-section .bottom-content .content-wrapper .img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid var(--black-bgc);
    border-radius: 100px;
}

.learn-from-industry-section .bottom-content .content-wrapper .content {
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.learn-from-industry-section .bottom-content .content-wrapper .content .name-btn {
    font-family: inherit;
    font-size: 16px;
    color: var(--white-color);
    font-weight: 500;
    line-height: 1.3;
    text-transform: capitalize;
    padding: 10px 0;
    border: 1px solid var(--white-color);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
}

.learn-from-industry-section .bottom-content .content-wrapper .content span {
    font-family: inherit;
    font-size: 16px;
    color: #767676;
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    padding: 10px 0 10px 0;
    margin: 0;
}

.learn-from-industry-section .bottom-content .content-wrapper .content img {
    margin: 0 auto;
    width: 30%;
}

.learn-from-industry-section .bottom-content .see-more-btn {
    font-family: inherit;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0;
    margin: 0;
}

.learn-from-industry-section .bottom-content .see-more-btn i {
    font-size: 25px;
}

/* Learn from industry Section End */



/* Explore Cubesat kits Section Start */
.explore-cubesat-cits-section {
    padding-bottom: 35px;
}

.explore-cubesat-cits-section .top-img-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.explore-cubesat-cits-section .top-img-block .top img {
    width: 60%;
}

.explore-cubesat-cits-section .top-img-block .bottom img {
    width: 80%;
}

.explore-cubesat-cits-section .heading-section {
    text-align: left;
    padding-bottom: 30px;
}

.explore-cubesat-cits-section .heading-section h3 {
    color: var(--white-color);
}

.explore-cubesat-cits-section .heading-section p {
    color: var(--white-color);
    text-align: left;
    margin: 0 0 20px 0;
}

.explore-cubesat-cits-section .bottom-content-block .left-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px;
}

.explore-cubesat-cits-section .bottom-content-block .left-block .content {
    border: 1px solid var(--white-color);
    border-radius: 8px;
    padding: 60px 0 5px 20px;
}

.explore-cubesat-cits-section .bottom-content-block .left-block .content span {
    font-family: inherit;
    font-size: clamp(1.875rem, 1.713rem + 0.8642vw, 2.75rem);
    color: var(--white-color);
    font-weight: 500;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

.explore-cubesat-cits-section .bottom-content-block .left-block .content h5 {
    font-family: inherit;
    font-size: clamp(2.125rem, 1.8819rem + 1.2963vw, 3.4375rem);
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

.explore-cubesat-cits-section .bottom-content-block .left-block .content:nth-child(2) span {
    font-size: clamp(2.125rem, 1.8819rem + 1.2963vw, 3.4375rem);
    font-weight: 700;
}

.explore-cubesat-cits-section .bottom-content-block .left-block .content:nth-child(2) h5 {
    font-size: clamp(1.875rem, 1.713rem + 0.8642vw, 2.75rem);
    font-weight: 500;
}

.explore-cubesat-cits-section .bottom-content-block .middle-block {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--white-color);
    border-radius: 35px;
    overflow: hidden;
}

.explore-cubesat-cits-section .bottom-content-block .middle-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore-cubesat-cits-section .bottom-content-block .right-block {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid var(--primary-color);
    border-radius: 35px;
    overflow: hidden;
}

.explore-cubesat-cits-section .bottom-content-block .right-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Explore Cubesat kits Section End */


/* Community Section Start */
.community-section {
    margin-bottom: 0;
    background-color: transparent;
    position: relative;
    padding-bottom: 0px;
}

.community-section::after {
    content: '';
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    background-image: url('../images/community-section-bgc-img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
}

.community-section .top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.community-section .top-part .heading-section {
    text-align: left;
    margin: 0;
}

.community-section .top-part .heading-section h3 {
    color: var(--white-color);
}

.community-section .top-part .heading-section p {
    font-size: 16px;
    color: var(--white-color);
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    padding-bottom: 0;
    margin: 0 0 20px 0;
}

.community-section .top-part .heading-section span {
    font-family: inherit;
    font-size: 15px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

.community-section .top-part .button-block ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.community-section .top-part .button-block ul li a {
    font-family: inherit;
    font-size: 13px;
    color: var(--white-color);
    font-weight: 500;
    line-height: 1.3;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-transform: capitalize;
    padding: 7px 20px;
    margin: 0;
}

.community-section .top-part .button-block ul li:nth-child(2) a {
    background-color: transparent;
    border: 1px solid var(--white-color);
}

.community-section .bottom-content {
    position: relative;
    z-index: 999;
}

.community-section .bottom-content .left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.community-section .bottom-content .left-block .top-video-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 13px;
    border: 3px solid var(--primary-color);
    height: 300px;
    margin-bottom: 35px;
    width: 82%;
}

.community-section .bottom-content .left-block .top-video-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community-section .bottom-content .left-block .bottom-content {
    padding: 15px 15px;
    border: 1px solid var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13px;
    border-radius: 13px;
}

.community-section .bottom-content .left-block .bottom-content h5 {
    font-family: inherit;
    font-size: 28px;
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

.community-section .bottom-content .left-block .bottom-content p {
    font-family: inherit;
    font-size: 15px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

.community-section .bottom-content .right-block {
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid var(--white-color);
    width: 75%;
    background-image: url('/assets/images/community-section-bottom-content-right-block-bgc-img.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.community-section .bottom-content .right-block .top-card {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 10px 10px;
    margin-bottom: 23px;
}

.community-section .bottom-content .right-block .top-card .card {
    background-color: var(--white-color);
    padding: 20px 70px 20px 20px;
}

.community-section .bottom-content .right-block .top-card .card .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.community-section .bottom-content .right-block .top-card .card .top h6 {
    font-family: inherit;
    font-size: 19px;
    color: rgb(47, 47, 47);
    font-weight: 700;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}

.community-section .bottom-content .right-block .top-card .card .top img {
    width: 20%;
}

.community-section .bottom-content .right-block .top-card .card p {
    font-family: inherit;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    line-height: 1.3;
    max-width: 300px;
    padding-bottom: 18px;
    margin: 0;
}

.community-section .bottom-content .right-block .top-card .card .join-btn {
    font-family: inherit;
    font-size: 15px;
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
    background-color: var(--primary-color);
    border-radius: 15px;
    width: max-content;
    padding: 12px 25px;
    margin: 0;
}

.community-section .bottom-content .right-block .bottom-button {
    display: inline-block;
}

.community-section .bottom-content .right-block .bottom-button a {
    font-family: inherit;
    font-size: 13px;
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 15px;
    margin: 0;
}

/* Community Section End */


/* Listen To Your Section Start */
.listen-to-your-section {
    padding-bottom: 150px;
}

.listen-to-your-section .slider-heading-block {
    background-color: var(--white-color);
    margin: 0 auto;
    width: 80%;
    padding: 20px 30px 30px 30px;
    border-radius: 12px;
}

.listen-to-your-section .slider-heading-block .heading-section {
    text-align: left;
    padding-bottom: 15px;
}

.listen-to-your-section .slider-heading-block .heading-section h3 {
    font-family: inherit;
    font-size: clamp(1.875rem, 1.6667rem + 1.1111vw, 3rem);
    font-weight: 800;
}

.listen-to-your-section .slider-heading-block .slider .content-wrapper {
    height: 250px;
    border-radius: 15px;
    background-color: #82B4FE;
    margin-right: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.listen-to-your-section .slider-heading-block .slider .content-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -40%);
    width: 68%;
    height: 100%;
    object-fit: cover;
}

.listen-to-your-section .slider-heading-block .slider .content-wrapper span {
    font-family: inherit;
    font-size: 7px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1.2px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 8px;
    padding: 4px 10px;
    margin: 0;
}

.listen-to-your-section .slider-heading-block .slider .content-wrapper a::after {
    content: '';
    position: absolute;
    inset: 0;
}

/* Listen To Your Section End */



/* Community Reflections Section Start */
.community-reflections-section {
    background-color: var(--white-color);
    padding: 70px 0 120px 0;
}

.community-reflections-section .heading-section {
    text-align: left;
    margin-bottom: 20px;
}

.community-reflections-section .content-block {
    margin: 0 auto;
    width: 100%;
}

.community-reflections-section .content-block .slider .slick-list {
    padding: 25px 0 0;
}

.community-reflections-section .content-block .card {
    height: 180px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    margin: 0 10px;
    padding: 0 0 15px 0;
}

.community-reflections-section .content-block .card .content-wrapper {
    width: 92%;
    height: 100%;
    padding: 50px 14px 10px 14px;
    position: relative;
}

.community-reflections-section .content-block .card .content-wrapper h6 {
    font-family: inherit;
    font-size: 19px;
    color: var(--primary-font-color);
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
    padding-bottom: 5px;
    margin: 0;
}

.community-reflections-section .content-block .card .content-wrapper span {
    font-family: inherit;
    font-size: 16px;
    color: var(--primary-font-color);
    font-weight: 600;
    line-height: 1.3;
    display: inline-block;
    padding-bottom: 7px;
    margin: 0;
}

.community-reflections-section .content-block .card .content-wrapper p {
    font-family: inherit;
    font-size: 12px;
    color: var(--primary-font-color);
    font-weight: 700;
    line-height: 1.3;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.community-reflections-section .content-block .card .content-wrapper img {
    position: absolute;
    top: -19px;
    left: -13px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

/* Community Reflections Section End */


/* Footer Start */
footer {
    background-color: transparent;
    padding-top: 80px;
}

footer .right-logo-block .logo-block {
    max-width: 330px;
    padding-bottom: 10px;
}

footer .right-logo-block .form {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
}

footer .right-logo-block .form input {
    font-family: inherit;
    font-size: 15px;
    color: rgb(245, 245, 245);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    width: 50%;
    background-color: transparent;
    border: 1.5px solid #656565;
    padding: 10px 0 10px 15px;
    border-radius: 8px;
}

footer .right-logo-block .form input::placeholder {
    font-family: inherit;
    font-size: 15px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
}

footer .right-logo-block .form a {
    font-family: inherit;
    font-size: 15px;
    color: var(--white-color);
    font-weight: 600;
    line-height: 1.3;
    text-transform: capitalize;
    background-color: var(--primary-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 8px 25px;
    margin: 0;
}

footer .right-logo-block .form a i {
    font-size: 23px;
    color: var(--white-color);
}

footer .right-logo-block .social-icon ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right-logo-block .social-icon ul li {
    --w-h: 28px;
    width: var(--w-h);
    height: var(--w-h);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-color);
    border-radius: 50px;
}

footer .right-logo-block .social-icon ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .right-logo-block .social-icon ul li a i {
    font-size: 13px;
    color: var(--white-color);
}

footer .footer-menu-content {
    padding-left: 10px;
}

footer .footer-menu-content h6 {
    font-family: inherit;
    font-size: 20px;
    color: var(--white-color);
    font-weight: 800;
    line-height: 1.3;
    text-transform: capitalize;
    padding-bottom: 8px;
    margin: 0;
}

footer .footer-menu-content ul li a {
    font-family: inherit;
    font-size: 15px;
    color: rgb(162, 162, 162);
    font-weight: 700;
    line-height: 1.3;
    display: inline-block;
    padding-bottom: 8px;
    margin: 0;
}

footer .copy-right-block {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px;
    margin: 0 auto;
}

footer .copy-right-block span {
    font-family: inherit;
    font-size: 13px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}


/* Footer End */


/**
ABOUT PAGE
*/

.about-section {
    padding: 50px 0;
    margin: 0;
}

.about-section p {
    font-family: inherit;
    font-style: 16px;
    color: #8b8b8b;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-section ul {
    margin-bottom: 20px;
}

.about-section ul li {
    font-family: inherit;
    font-style: 16px;
    color: #8b8b8b;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-section ul li::before {
    content: '➤';
    color: var(--primary-color);
    padding-right: 10px;
}



/* 
    PROJECTs PAGE CSS
*/

.space-and-defense-section{
    background-color: var(--black-bgc);
    padding: 70px 0 120px 0;
}
.space-and-defense-section .heading-section,
.space-and-defense-section .heading-section p{
    text-align: left;
}
.space-and-defense-section .heading-section h3,
.space-and-defense-section .heading-section p{
    color: var(--white-color);
}
.space-and-defense-section .card .img-block{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}

.timeline-section{
    position: relative;
    background-position: 0 right;
    padding: 70px 0 120px 0;
    z-index: 1;
}
.timeline-section::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../images/projects-bgc.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70%;    
    width: 100%;
    height: 100%;
    z-index: -1;
}
.timeline-section .heading-section{
    text-align: left;
}
.timeline-section .heading-section h3{
    color: var(--white-color);
}
.timeline-section .timeline {
    position: relative;
}

.timeline-section .timeline li {
    color: var(--white-color);
    margin-bottom: 2rem;
    padding-left: 20px;
    border-left: 3px solid var(--primary-color);
    position: relative;
}

.timeline-section .timeline li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 15px;
    height: 15px;
    background: var(--primary-color);
    border-radius: 50%;
}
.team-and-outcomes-section{
    background-color: var(--white-color);
    padding: 70px 0 120px 0;
}